<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Student", "Index", "Students")</li>
    <li>@Html.ActionLink("Marketing Coordinator", "Index", "MarketingCoordinators")</li>
    <li>@Html.ActionLink("Topic Year", "Index", "Topic")</li>
    <li>@Html.ActionLink("Guest", "Index", "Guest")</li>
</ul>

