<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Marketing Coordinator", "Details", "MarketingCoordinators")</li>
    <li>@Html.ActionLink("Content Assign", "Index", "ContentAssign")</li>
    
</ul>

