<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Up load content", "Create", "Content")</li>
    <li>@Html.ActionLink("Your content","Index", "Content")</li>
    <li>@Html.ActionLink("Profile", "Details", "Students")</li>
    <li>@Html.ActionLink("Your Assigned list", "ViewALL", "ContentAssign")</li>
</ul>

