<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Your Content", "Uploaded", "Content")</li>
    <li>@Html.ActionLink("Upload Content","Topic", "Content")</li>
    <li>@Html.ActionLink("Profile", "StdProfile", "StudentAction")</li>
    <li>@Html.ActionLink("Your Assigned list", "ViewALL", "ContentAssign")</li>
</ul>

