body {
    width:100%;
    margin:auto;
}
.panel {
    border: 1px solid #4c66fa;
    border-radius: 0;
    transition: box-shadow 0.5s;
}

    .panel:hover {
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);
    }


.panel-heading {
    color: #fff !important;
    background-color: #4c66fa !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel p{
    font-size: 22px;
    
}