@model WebEnterprise.Models.Account

@{
    ViewBag.Title = "Login";
}






<html>

<head>
    <link rel="stylesheet" href="~/Content/login.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Sign in</title>
</head>

<body>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="main">
            <p class="sign" align="center">Login</p>
            <form class="form1">
                <div class="un " type="text" align="center">

                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { placeholder = "Username", @class = "form-control" } })
                </div>
                <div  <input class="pass" type="password" align="center" placeholder="Password">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Password", @class = "form-control" } })
                </div>
                <div>
                    <div>
                        <input type="submit" value="Login" class="submit" />
                    </div>
                </div>
            }

</body>

</html>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>